/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
    text-decoration: none;
}

.nav-scroller{
  font-family: "Playfair Display", Georgia, "Times New Roman";
    text-decoration: none;
}
.d-flex justify-content-start{
    text-decoration: none;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman";
  font-size: 2.25rem;
  text-decoration: none;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    text-decoration: none;
}

.display-4 {
  font-size: 2.5rem;
    text-decoration: none;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
      text-decoration: none;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  text-decoration: none;
}

.nav-scroller.nav{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  text-decoration: none;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  text-decoration: none;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.carousel-slide {
  margin-left:auto;
  margin-right:auto;
}

.carousel-item {
  margin-left:auto;
  margin-right:auto;
}

.carousel-caption d-none d-md-block {
  margin-left:auto;
  margin-right:auto;
}

.carousel-control-prev {
  position: absolute;
  top: auto;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-control-next {
  position: absolute;
  top: auto;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-indicators {
  margin: auto;
}
#nav {
  padding: 20px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu li a {
  display: block;
  padding: 10px 30px;
}

.menu li {
  background-color: #ddd;
}

.menu-item {
  margin-right: 2px;
  position: relative;
}

.menu {
  display: flex;
}

.submenu {
  position: absolute;
  display: none;
}

.submenu-item {
  margin-top: 1px;
}

.dws-menu *{
  margin: 0;
  padding: 0;
}

.dws-menu ul,
dws-menu ol{
  list-style: none;
}

.dws-menu > ul{
  display: flex;
  justify-content: center;
}

.dws-menu > ul li a{
  display: block;
  background: #ececed;
  padding: 15px 30px 15px 10px;
  font-size: 14px;
  color: #454547;
  text-decoration: none;
  text-transform: uppercase  ;
}

.dws-menu > ul li{
  position: relative;
  border-right: 1px solid #c7c8ca;
}

.dws-menu > ul li > a i.fa{
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
}

.dws-menu > ul li:first-child{
  border-left: 1px solid #b2b3b5;
}

.dws-menu > ul li:last-child{
  border-right: 1px solid #babbbb;
}

.dropdown-menu ul {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10000;
}

.dropdown-menu li{
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10000;
}

.dropdown-menu span {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10000;
}

.dropdown-menu a {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10000;
}


